.popup__submit-button {
  display: block;
  margin: 0;
  margin-top: 14px;
  padding: 0;
  min-width: 358px;
  min-height: 50px;
  border: none;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  transition: .3s;
}

.popup__submit-button:hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__submit-button {
    margin-top: 15px;
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 16px;
  }
}
