.elements {
  display: grid;
  grid-auto-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 1023px) {
  .elements {
    grid-auto-rows: repeat(3, 1fr);
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .elements {
    grid-auto-rows: repeat(6, 1fr);
    grid-template-columns: 100%;
  }
}
