.profile__name-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 7px;
}

@media screen and (max-width: 767px) {
  .profile__name-block {
    margin-bottom: 14px;
  }
}
