.popup__close-button {
  outline: 1px solid red;
  position: absolute;
  top: -40px;
  right: -40px;
  max-height: 32px;
  max-width: 32px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent;
  border: none;
  transition: .3s;
}

.popup__close-button {
  width: 32px;
  height: 32px;
  background: url(../../../images/button-close.svg) center no-repeat;
  outline: 1px solid purple;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -40px;
    right: 0;
  }
}
