.profile__info {
  max-width: 38.63%;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 88.12%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 34px;
    margin-left: auto;
    text-align: center;
  }
}
