.page__elements {
  max-width: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 58px;
  margin-left: auto;
}

  @media screen and (max-width: 767px) {
    .page__elements {
      max-width: 88.12%;
      margin-bottom: 48px;
    }
  }






