.page__elements {
  max-width: 100%;
  outline: 1px solid blue;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 58px;
  margin-left: auto;
}

  @media screen and (max-width: 767px) {
    .page__elements {
      max-width: 88.12%;
      margin-bottom: 48px;
    }
  }





/*
.content__photo-grid {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .content__photo-grid {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 1023px) {
  .content__photo-grid {
    max-width: 93.7%;
  }
}

@media screen and (max-width: 767px) {
  .content__photo-grid {
    max-width: 90%;
  }
}
*/





