.element {
  position: relative;
  max-width: 282px;
  background: #fff;
  border-radius: 5%;
}

@media screen and (max-width: 1023px) {
  .element {
    max-width: 430px;
  }
}

@media screen and (max-width: 767px) {
  .element {
    max-width: 100%;
  }
}


